<h1>支出一覧</h1>

<%= link_to "新規登録", new_expense_path, class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>金額</th>
      <th>カテゴリ</th>
      <th>メモ</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.spent_on %></td>
        <td><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.category %></td>
        <td><%= expense.memo %></td>
        <td>
          <%= link_to "編集", edit_expense_path(expense) %> |
          <%= link_to "削除", expense_path(expense), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>